/**********GLOBAL**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 25px auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

.img-left, .img-center, .img-right {
  position: relative;
}

.price-sale {
  color: red;
}

/**********MAIN**********/

/*layout clearfix*/
main .clearfix section {
  float: left;
}

.box-left, .box-right {
  width: 32%;
}

.box-center {
  width: 32%;
  margin: 0 2%;
}

.clearfix {
  margin: 25px 0; 
}

/*layout img*/
.heart::after {
 content: '\2665';
 position: absolute;
 top: 30px;
 right: 0;
 background-color: white;
 font-size: 35px;
 padding: 2px 10px;
}

.sale-red, .eco-green {
  position: absolute;
  bottom: 25px;
  color: white;
  font-weight: bold;
  padding: 3px 5px;
}

.sale-red {
  left: 0;
  background-color: red;
 
}

.sale-red::after {
  content: '\0025';
  color: white;
}

.eco-green {
  left: 50px;
  background-color: green;
}

.second-row .box-right .eco-green {
  left: 0;
}

/* layout caption */
.price-sale:after, .sale::after {
  content: ' \20AC';
}

.sale {
  color: black;
  text-decoration: line-through;
}

.price-sale, .sale {
  font-weight: bold;
}

/* hover img */
.img.hover {
  display: none;
}

.img-left:hover .img.basic, .img-center:hover .img.basic, .img-right:hover .img.basic {
  display: none;
}

.img-left:hover .img.hover, .img-center:hover .img.hover, .img-right:hover .img.hover  {
  display: block;
}