/**********GLOBAL**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 25px auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  width: 100%;
}

.card {
  position: relative;
}

/**********MAIN**********/

/*layout clearfix*/
main .clearfix section {
  float: left;
}

.box-left, .box-right {
  width: 32%;
}

.box-center {
  width: 32%;
  margin: 0 2%;
}

.clearfix {
  margin: 25px 0; 
}

/*layout img*/
.heart::after {
 content: '\2665';
 position: absolute;
 top: 30px;
 right: 0;
 background-color: white;
 font-size: 25px;
 padding: 2px 10px;
}

.tag {
  position: absolute;
  bottom: 15px;
  left: 0;
  color: white;
  font-weight: bold;
}

.sale-red, .eco-green {
  padding: 2px;
}

.sale-red {
  background-color: red;
  margin-right: 4px;
}

.eco-green {
  background-color: green;
}

.sale-red::after {
  content: '\0025';
  color: white;
}

/* layout caption */
.price-sale:after, .sale::after {
  content: ' \20AC';
}

.price-sale {
  color: red;
  margin-right: 4px;
  font-weight: bold;
}

.sale {
  color: black;
  text-decoration: line-through;
}


/* hover img */
.img.hover {
  display: none;
}

.card:hover .img.basic {
  display: none;
}

.card:hover .img.hover {
  display: inline-block;
}
